<?php
/** @var $block \Magento\Framework\View\Element\Template */
?>
<?php if (count($block->getMediaCollection())): ?>
    <div class="review-attachments">
        <div class="review-media-value">
            <?php foreach ($block->getMediaCollection() as $m) { ?>
                <div class="image item base-image" data-role="image">
                    <div class="product-image-wrapper">
                        <img class="product-image" data-role="image-element"
                             src="<?= $block->getReviewMediaUrl().DS.$m; ?>" alt="Image" />
                    </div>
                </div>
                <?php
            }
            ?>
        </div>
    </div>
<?php else: ?>
    <?= $block->escapeHtml(__("No attachment available.")) ?>
<?php endif; ?>


<div id="review-image-modal" style="display:none;">
    <img id="review-image-lg" src=""/>
</div>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function ($) {

            $('.action-remove').on('click', function (e) {
                var mediaId = e.target.getAttribute('media-id');
                $('#deleted_media').val($('#deleted_media').val()  + mediaId + ",");
                $(e.target).parent().parent().parent().remove();
            });

            $(".product-image").on('click', function () {

                $("#review-image-modal").html("");
                $("#review-image-modal").prepend('<img id="review-image-lg" src="' + $(this).attr("src") + '"/>');

                $("#review-image-modal").modal({
                    type: 'popup',
                    title: 'Review Image',
                    clickableOverlay: true,
                    buttons:[],
                    responsive: true
                }).modal('openModal').css({"text-align":"center"});
            });

        })
</script>

